node_modules
.env
.DS_Store
dist/
config/development.json
logs/
scratch/
docs/
deployment/secrets/

uploads/
coverage/
downloads/
deployment/operator/bin
junit.xml
reports/unit-test-report.html
reports/jest-html-reporters-attach/unit-test-report/index.js
reports/jest-html-reporters-attach/unit-test-report/result.js
artifacts.zip
config/test.json
requests/baymax.rest
